{
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "src/app/globals.css",
  "tailwindPreserveWhitespace": true,
  "singleQuote": false,
  "semi": true,
  "overrides": [
    {
      "files": ["src/app/**/*", "src/component/**/*"]
    }
  ],
  "trailingComma": "es5",
  "tabWidth": 2
}
